
name: Deploy React App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js 18
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build

      - name: Add permissions for read and write
        run: chmod +rw ./build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: ./build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.9.3
        with:
          deploy_key: ${{ secrets.CAJA_CHICA }}
          cname: caja-chica-msps.com
          commit_message: 'Deploy to GitHub Pages'
          user_name: 'mlanzamolina'
          user_email: 'mlanzamolina@gmail.com'
          publish_dir: ./build

      - name: Download build artifact
        uses: actions/download-artifact@v2
        with:
          name: build
